.cls1 {
  position: absolute;
  top: 10px;
  right: 20px;
  z-index: 10;
}

.cls2 {
  font-size: 12px;
  padding: 4px 8px;
  display: flex;
  align-items: center;
  gap: 4px;
}

.cls3 {
  width: 14px;
  height: 14px;
}
